  <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-info">
    <a class="navbar-brand mb-0 h1" href="/">{{ site.title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#siteNavbarToggle" aria-controls="siteNavbarToggle" aria-expanded="false" aria-label="Site map">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="siteNavbarToggle">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/research">Research</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/team">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/publications">Publications</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/stracquadaniolab">Software</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contacts">Contacts</a>
        </li>
      </ul>
    </div>
  </nav>