<!DOCTYPE html>
<html>
<!-- loading the header -->
{% include _head.html %}

<body>
    <!-- including header and navbar -->
    {% include _header.html %}
    <div class="container p-4 text-dark">
        <h1>{{page.title}}</h1>
        <p>{{ content }}</p>

        <h3>Members</h3>
        <div class="row p-2 mb-5">
            {% for people in site.data.people %}
            {% if people.role == 'member' %}
            <div class="col-1 mb-4">
                <img class="rounded-circle rounded-sm" src="{{people.pic}}" width="100%" />
            </div>
            <div class="col-11 mb-4">
                <b>{{people.name}}</b><br />
                <i>{{people.affiliation}}</i><br />
            </div>
            {% endif %}
            {% endfor %}
        </div>

        <h3>Scientific advisors</h3>
        <div class="row p-2 mb-5">
            {% for people in site.data.people %}
            {% if people.role == 'advisor' %}
            <div class="col-1 mb-4">
                <img class="rounded-circle rounded-sm" src="{{people.pic}}" width="100%" />
            </div>
            <div class="col-11 mb-4">
                <b>{{people.name}}</b><br />
                <i>{{people.affiliation}}</i><br />
            </div>
            {% endif %}
            {% endfor %}
        </div>



    </div>
    <!-- including footer -->
    {% include _footer.html %}
</body>

</html>